html {
    font-size: 62.5%;
}

h1 {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
}

body {
    font-family: "Courier New", Courier, monospace;
}

.box {
    align-items: center;
    text-align: center;
    line-height: 120px;
    width: 100%;
    height: auto;
    background-color: black;
    font-size: 6rem;
}

.text {
    margin: 0px auto;
    width: 80%;
}

h2 {
    color: #00bbff;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 500;
}

p {
    font-size: 1.8rem;
    font-style: initial;
    line-height: 1.2;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
}

a:active {
    color: red;
}

iframe {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.background {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-size: cover;
}
