html {
    font-size: 62.5%;
}

h1 {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
}

.start {
    font-size: 8rem;
}

body {
    font-family: "Courier New", Courier, monospace;
}

.box {
    align-items: center;
    text-align: center;
    line-height: 120px;
    width: 100%;
    height: auto;
    background-color: black;
    font-size: 4rem;
}

.text {
    margin: 0px auto;
    width: 80%;
}

h2 {
    color: #00bbff;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 500;
}

p {
    font-size: 1.8rem;
    font-style: initial;
    line-height: 1.2;
}
.image{
      display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-size: cover;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
}

a:active {
    color: red;
}

iframe {
    display: block;
    margin-left: auto;
    margin-light: auto;
     width:80%;
     height:80%;
}

.background {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-size: cover;
}

strong {
    font-weight: 600;
    font-size: 1.8rem;
}

li {
    font-size: 1.8rem;
}

.gif {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.swich {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

li {
    margin-left: 3rem;
}

footer {
    font-style: italic;
    text-align: center;
    font-size: 5rem;
    align-items: center;
    text-align: center;
    line-height: 10rem;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

.end {
    font-size: 3.5rem;
}
